<div class="footer">
  <div class="contact">
    <div class="link-box">
      <h2 style="text-align: center;"><b>CONTACT <br> US</b></h2>
      <div class="links">
        <div class="link-box-in">
          <div class="link-box-inner">
            <i class="fa-solid fa-phone"></i> &nbsp; +91 7982334202 | +91 9311806512
          </div>
          <div class="link-box-inner">
            <a href="https://www.instagram.com/foundationparasnath/"><i class="fa-brands fa-instagram"></i> &nbsp; @foundationparasnath</a>
          </div>
        </div>
        <div class="link-box-in">
          <div class="link-box-inner">
            <i class="fa-regular fa-envelope"></i> &nbsp; foundationparasnath@gmail.com
          </div>
          <div class="link-box-inner">
            <i class="fa-solid fa-location-dot"></i> &nbsp; D-251, Second Floor, Laxmi Nagar, Delhi -110092
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

