<div class="footer">
  <div class="people">
    <div class="ppl-hd">
      <h2><b>People</b></h2>
      <span class="badge text-bg-light">Join us</span>
    </div>
    <div class="ppl">
      <h3>Adv. Rajesh Tiwari<br>Founder</h3>
    </div>
    <div class="divider"></div>
    <div class="ppl">
      <h3>Adv. Alka Tiwari<br>Co-founder</h3>
    </div>
    <div class="divider"></div>
    <div class="ppl">
      <h3>Adv. Alakh Tiwari<br>Trustee</h3>
    </div>
  </div>
  <div class="contact">
    <div class="link-box">
      <h2><b>Contact us</b></h2>
      <div class="links">
        <div class="link-box-in">
          <div class="link-box-inner">
            <i class="fa-solid fa-phone"></i> &nbsp; +91 7982334202 | +91 9311806512
          </div>
          <div class="link-box-inner">
            <i class="fa-brands fa-instagram"></i> &nbsp; @foundationparasnath
          </div>
        </div>
        <div class="link-box-in">
          <div class="link-box-inner">
            <i class="fa-regular fa-envelope"></i> &nbsp; foundationparasnath@gmail.com
          </div>
          <div class="link-box-inner">
            <i class="fa-solid fa-location-dot"></i> &nbsp; D-251, Second Floor, Laxmi Nagar, Delhi -110092
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

