<%- include('boilerplate.ejs') %>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/">Home</a>
              </li>
              <li class="nav-item active-nav-item">
                <a class="nav-link active" href="http://localhost:8080/about">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Collabs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Reviews</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <!-- Main page -->
     <div class="container-md">
      <div class="about-land-img">
        <div class="abt-img-con">
          <h3><b>Aim</b></h3>
          <p>Our primary aim is to promote a deep understanding of the Indian Constitution and its core values: Justice, Equality,
          and Liberty. We strive to create meaningful opportunities for students to learn, discuss, and advocate for these
          fundamental rights, ensuring they are prepared to contribute positively to society.</p>
        </div>
      </div>
      <br>
      <div class="abt-info">
        <div class="vision">
          <h3><b>Vision</b></h3>
          <p>We envision a future where every young individual is not only aware of their rights and responsibilities but also
          actively participates in the democratic process. By instilling a sense of civic duty and social responsibility, we aim
          to cultivate a generation of leaders who are dedicated to making a difference, community initiatives</p>
        </div>
        <div class="mission">
          <h3><b>Mission</b></h3>
          <p>
            <ul>
              <li><b>Educate</b>: Provide resources and programs that enhance legal literacy among students.</li>
              <li><b>Empower</b>: Foster critical thinking and encourage youth to voice their opinions and engage in community initiatives.</li>
              <li><b>Engage</b>: Create platforms for dialogue and discussion on constitutional values, promoting active citizenship.</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="end-img"></div>
     </div>
     <br><br>
     <%- include('./includes/footer.ejs') %>
    <script src="/js/script.js"></script>
</body>
</html>