<%- include('boilerplate.ejs') %>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active-nav-item">
              <a class="nav-link active" href="http://localhost:8080/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/about">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Collabs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reviews</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>  

      <!-- landing page -->
      <div class="main-body">
        <div class="image">
          <a href="http://localhost:8080/about"><button type="button" class="btn btn-light btn-about">About us</button></a>
        </div>
        <div class="main-con">
            <!-- <h1 class="main-con-hd">Paras Nath Foundation</h1> -->
            <p class="main-con-pr">The Paras Nath Foundation is an organization dedicated to advancing legal awareness and empowering the youth of India.
            Our commitment lies in cultivating informed, engaged citizens who are well-versed with the principles enshrined in our
            laws and constitution. By fostering a deeper understanding of Justice, Equality, and Liberty, we aim to equip young
            individuals with the knowledge and skills necessary to navigate and contribute to our democratic society effectively.</p>
            
        </div>
      </div>
      <br><br>
      <!-- Events  -->
      <div class="event">
        <h1 class="event-hd">Events</h1><br>
        <div class="event-box">
          <img src="../assets/preamble-without-bg.png" alt="" height="300px">
          <div class="event-pr">
            Inspired from central government initiative 'Hamara Samvidhaan Hamaari Pehchaan', Parasnath Foundation has organized
            •The Preamble Dialogue". a competition for the students of classes 9th to 12th of various schools of Delhi and NCR. This
            competition aims to foster a deeper understanding of the Indian Constitution among students while promoting critical
            thinking. public speaking, and collaboration. <br><br>
            <button type="button" class="btn btn-light btn-event">Learn more</button>
          </div>
        </div>
      </div>

      <!-- team and contact -->
      <script src="/js/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>